.page16-page {
  background: #fff;
  border-radius: 4px;
  height: 100%;
  padding: 20px;
  .input {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 300px;
  }
  .list {
    width: 300px;
  }
}
